/*main*/
main {
  padding-top: 72px; }
  @media (min-width: 768px) {
    main .container {
      width: 576px; } }
  main .container h1 {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin: 20px 0 20px 0; }
    @media (min-width: 768px) {
      main .container h1 {
        margin: 25px 0;
        font-size: 24px; } }
