//color
$main: #00BDB4
$sub: #F58412
$text: #34495E

html
  height: 100%

//body
body


//nav
nav

//header
header
  pointer-events: none
  width: 100%
  position: fixed
  background: url('../img/header_m.png') no-repeat top center
  height: 100%
  background-size: contain

//main
main
  background-color: red
  background: url(../img/bg_m.jpg) no-repeat top center
  height: 100%
  background-size: contain

//footer
footer
  pointer-events: none
  width: 100%
  position: fixed
  background: url('../img/footer_m.png') no-repeat bottom
  height: 100%
  bottom: 0%
  background-size: contain