//color
$main: #00BDB4
$sub: #F58412
$text: #34495E

//body
body
  background: url(../img/.jpg) no-repeat top center

//nav
nav

//header
header

//main
main
  .container
    background-color: aqua
    .row
      div:nth-of-type(1)
        background-color: rgba(red,0.5)
      div:nth-of-type(2)
        background-color: rgba(green,0.5)
      div:nth-of-type(3)
        background-color: rgba(blue,0.5)

//footer
footer
